@import "src/styles/mixins";
@import "src/styles/vars";

.cell {
  padding: 14px 24px;
  color: $white;
  background-color: $blue;

  &:first-child {
    border-top-left-radius: 10px;
  }

  &:last-child {
    border-top-right-radius: 10px;
  }
}
