$white: #fff;
$gray-elements: #ccc;
$gray-lightest: #fbfbfb;
$gray-light: #f1f1f1;
$gray-text: #7e7e7e;
$gray-placeholder: #b9b9b9;
$blue: #3a80ba;
$blue-dark: #1c3b55;
$black-deep: #08203c;
$black: #1a1a1a;
