@import "src/styles/vars";
@import "src/styles/mixins";

.contacts {
  padding-bottom: 15px;
}

.form {
  @include flex-center;
  max-width: 579px;
  width: 100%;
  margin: 0 auto 24px;
  padding: 4px;
  background-color: $white;
  border: 1px solid $gray-light;
  border-radius: 10px;
}

.input {
  flex-grow: 1;
  height: 100%;
  padding-right: 4px;
}
