@import "src/styles/vars";

.arrow {
  padding: 14px;
  cursor: pointer;
  transition: filter 0.3s linear;

  &:hover {
    filter: invert(50%)
    sepia(18%)
    saturate(1622%)
    hue-rotate(165deg)
    brightness(88%)
    contrast(91%);
  }
}

.right {
  transform: rotate(-180deg);
}
